modules/service/libraries/wso2IS/src/main/resources/lib/userAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://mgt.user.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2645="http://common.mgt.user.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.user.carbon.wso2.org">
    <wsdl:documentation>UserAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2646="http://common.mgt.user.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://common.mgt.user.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="UserAdminUserAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UserAdminException" nillable="true" type="ax2645:UserAdminException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateUsersOfRole">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="userList" nillable="true" type="ax2645:FlaggedName"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateRolesOfUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="newUserList" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateRoleName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="newRoleName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setRoleUIPermission">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="rawResources" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listUsers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="limit" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listUsersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listUserByClaim">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="claimValue" nillable="true" type="ax2645:ClaimValue"></xs:element>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="maxLimit" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listUserByClaimResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2645:FlaggedName"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllUsers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="limit" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllUsersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2645:FlaggedName"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isSharedRolesEnabled">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isSharedRolesEnabledResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hasMultipleUserStores">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hasMultipleUserStoresResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUsersOfRole">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="limit" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUsersOfRoleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2645:FlaggedName"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserRealmInfo">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserRealmInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2645:UserRealmInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRolesOfUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="limit" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRolesOfUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2645:FlaggedName"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRolesOfCurrentUser">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRolesOfCurrentUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2645:FlaggedName"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRolePermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRolePermissionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2645:UIPermissionNode"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUIPermissions">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUIPermissionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2645:UIPermissionNode"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSharedRoleNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="limit" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllSharedRoleNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2645:FlaggedName"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRolesNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="limit" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRolesNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2645:FlaggedName"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteRole">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePasswordByUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePassword">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bulkImportUsers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="handler" nillable="true" type="xs:base64Binary"></xs:element>
                        <xs:element minOccurs="0" name="defaultPassword" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="claims" nillable="true" type="ax2645:ClaimValue"></xs:element>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRole">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="userList" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="isSharedRole" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRemoveUsersOfRole">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="newUsers" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="deletedUsers" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRemoveRolesOfUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="newRoles" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="deletedRoles" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addInternalRole">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="userList" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.mgt.user.carbon.wso2.org/xsd">
            <xs:complexType name="UserAdminException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FlaggedName">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="editable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="itemDisplayName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="readOnly" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="roleType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="selected" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="shared" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimValue">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claimURI" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserRealmInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adminRole" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="adminUser" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="bulkImportSupported" type="xs:boolean"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="domainNames" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="enableUIPageCache" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="everyOneRole" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="maxItemsPerUIPage" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="maxUIPagesInCache" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="multipleUserStore" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="primaryUserStoreInfo" nillable="true" type="ax2645:UserStoreInfo"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="requiredUserClaims" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="userClaims" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="userStoresInfo" nillable="true" type="ax2645:UserStoreInfo"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserStoreInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bulkImportSupported" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="externalIdP" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="maxRoleLimit" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="maxUserLimit" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="passwordRegEx" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="passwordsExternallyManaged" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="readOnly" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="roleNameRegEx" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userNameRegEx" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UIPermissionNode">
                <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="nodeList" nillable="true" type="ax2645:UIPermissionNode"></xs:element>
                    <xs:element minOccurs="0" name="resourcePath" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="selected" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addInternalRoleRequest">
        <wsdl:part name="parameters" element="ns1:addInternalRole"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addInternalRoleResponse"></wsdl:message>
    <wsdl:message name="UserAdminUserAdminException">
        <wsdl:part name="parameters" element="ns1:UserAdminUserAdminException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="changePasswordRequest">
        <wsdl:part name="parameters" element="ns1:changePassword"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="changePasswordResponse"></wsdl:message>
    <wsdl:message name="addRemoveUsersOfRoleResponse"></wsdl:message>
    <wsdl:message name="deleteRoleResponse"></wsdl:message>
    <wsdl:message name="updateRolesOfUserResponse"></wsdl:message>
    <wsdl:message name="updateRoleNameResponse"></wsdl:message>
    <wsdl:message name="bulkImportUsersResponse"></wsdl:message>
    <wsdl:message name="setRoleUIPermissionResponse"></wsdl:message>
    <wsdl:message name="addRoleResponse"></wsdl:message>
    <wsdl:message name="addRemoveRolesOfUserResponse"></wsdl:message>
    <wsdl:message name="addRemoveUsersOfRoleRequest">
        <wsdl:part name="parameters" element="ns1:addRemoveUsersOfRole"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllRolesNamesRequest">
        <wsdl:part name="parameters" element="ns1:getAllRolesNames"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllRolesNamesResponse">
        <wsdl:part name="parameters" element="ns1:getAllRolesNamesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllSharedRoleNamesRequest">
        <wsdl:part name="parameters" element="ns1:getAllSharedRoleNames"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllSharedRoleNamesResponse">
        <wsdl:part name="parameters" element="ns1:getAllSharedRoleNamesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateUsersOfRoleRequest">
        <wsdl:part name="parameters" element="ns1:updateUsersOfRole"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateUsersOfRoleResponse"></wsdl:message>
    <wsdl:message name="getRolesOfUserRequest">
        <wsdl:part name="parameters" element="ns1:getRolesOfUser"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRolesOfUserResponse">
        <wsdl:part name="parameters" element="ns1:getRolesOfUserResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listUsersRequest">
        <wsdl:part name="parameters" element="ns1:listUsers"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listUsersResponse">
        <wsdl:part name="parameters" element="ns1:listUsersResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateRolesOfUserRequest">
        <wsdl:part name="parameters" element="ns1:updateRolesOfUser"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteUserRequest">
        <wsdl:part name="parameters" element="ns1:deleteUser"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteUserResponse"></wsdl:message>
    <wsdl:message name="deleteRoleRequest">
        <wsdl:part name="parameters" element="ns1:deleteRole"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="bulkImportUsersRequest">
        <wsdl:part name="parameters" element="ns1:bulkImportUsers"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRolePermissionsRequest">
        <wsdl:part name="parameters" element="ns1:getRolePermissions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRolePermissionsResponse">
        <wsdl:part name="parameters" element="ns1:getRolePermissionsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isSharedRolesEnabledRequest">
        <wsdl:part name="parameters" element="ns1:isSharedRolesEnabled"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isSharedRolesEnabledResponse">
        <wsdl:part name="parameters" element="ns1:isSharedRolesEnabledResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateRoleNameRequest">
        <wsdl:part name="parameters" element="ns1:updateRoleName"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUsersOfRoleRequest">
        <wsdl:part name="parameters" element="ns1:getUsersOfRole"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUsersOfRoleResponse">
        <wsdl:part name="parameters" element="ns1:getUsersOfRoleResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserRealmInfoRequest">
        <wsdl:part name="parameters" element="ns1:getUserRealmInfo"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserRealmInfoResponse">
        <wsdl:part name="parameters" element="ns1:getUserRealmInfoResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setRoleUIPermissionRequest">
        <wsdl:part name="parameters" element="ns1:setRoleUIPermission"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="changePasswordByUserRequest">
        <wsdl:part name="parameters" element="ns1:changePasswordByUser"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="changePasswordByUserResponse"></wsdl:message>
    <wsdl:message name="listAllUsersRequest">
        <wsdl:part name="parameters" element="ns1:listAllUsers"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllUsersResponse">
        <wsdl:part name="parameters" element="ns1:listAllUsersResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addRemoveRolesOfUserRequest">
        <wsdl:part name="parameters" element="ns1:addRemoveRolesOfUser"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addUserRequest">
        <wsdl:part name="parameters" element="ns1:addUser"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addUserResponse"></wsdl:message>
    <wsdl:message name="addRoleRequest">
        <wsdl:part name="parameters" element="ns1:addRole"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllUIPermissionsRequest">
        <wsdl:part name="parameters" element="ns1:getAllUIPermissions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllUIPermissionsResponse">
        <wsdl:part name="parameters" element="ns1:getAllUIPermissionsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRolesOfCurrentUserRequest">
        <wsdl:part name="parameters" element="ns1:getRolesOfCurrentUser"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRolesOfCurrentUserResponse">
        <wsdl:part name="parameters" element="ns1:getRolesOfCurrentUserResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listUserByClaimRequest">
        <wsdl:part name="parameters" element="ns1:listUserByClaim"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listUserByClaimResponse">
        <wsdl:part name="parameters" element="ns1:listUserByClaimResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="hasMultipleUserStoresRequest">
        <wsdl:part name="parameters" element="ns1:hasMultipleUserStores"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="hasMultipleUserStoresResponse">
        <wsdl:part name="parameters" element="ns1:hasMultipleUserStoresResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UserAdminPortType">
        <wsdl:operation name="addInternalRole">
            <wsdl:input message="tns:addInternalRoleRequest" wsaw:Action="urn:addInternalRole"></wsdl:input>
            <wsdl:output message="tns:addInternalRoleResponse" wsaw:Action="urn:addInternalRoleResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:addInternalRoleUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <wsdl:input message="tns:changePasswordRequest" wsaw:Action="urn:changePassword"></wsdl:input>
            <wsdl:output message="tns:changePasswordResponse" wsaw:Action="urn:changePasswordResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:changePasswordUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRemoveUsersOfRole">
            <wsdl:input message="tns:addRemoveUsersOfRoleRequest" wsaw:Action="urn:addRemoveUsersOfRole"></wsdl:input>
            <wsdl:output message="tns:addRemoveUsersOfRoleResponse" wsaw:Action="urn:addRemoveUsersOfRoleResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:addRemoveUsersOfRoleUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRolesNames">
            <wsdl:input message="tns:getAllRolesNamesRequest" wsaw:Action="urn:getAllRolesNames"></wsdl:input>
            <wsdl:output message="tns:getAllRolesNamesResponse" wsaw:Action="urn:getAllRolesNamesResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:getAllRolesNamesUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSharedRoleNames">
            <wsdl:input message="tns:getAllSharedRoleNamesRequest" wsaw:Action="urn:getAllSharedRoleNames"></wsdl:input>
            <wsdl:output message="tns:getAllSharedRoleNamesResponse" wsaw:Action="urn:getAllSharedRoleNamesResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:getAllSharedRoleNamesUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateUsersOfRole">
            <wsdl:input message="tns:updateUsersOfRoleRequest" wsaw:Action="urn:updateUsersOfRole"></wsdl:input>
            <wsdl:output message="tns:updateUsersOfRoleResponse" wsaw:Action="urn:updateUsersOfRoleResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:updateUsersOfRoleUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfUser">
            <wsdl:input message="tns:getRolesOfUserRequest" wsaw:Action="urn:getRolesOfUser"></wsdl:input>
            <wsdl:output message="tns:getRolesOfUserResponse" wsaw:Action="urn:getRolesOfUserResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:getRolesOfUserUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listUsers">
            <wsdl:input message="tns:listUsersRequest" wsaw:Action="urn:listUsers"></wsdl:input>
            <wsdl:output message="tns:listUsersResponse" wsaw:Action="urn:listUsersResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:listUsersUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRolesOfUser">
            <wsdl:input message="tns:updateRolesOfUserRequest" wsaw:Action="urn:updateRolesOfUser"></wsdl:input>
            <wsdl:output message="tns:updateRolesOfUserResponse" wsaw:Action="urn:updateRolesOfUserResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:updateRolesOfUserUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <wsdl:input message="tns:deleteUserRequest" wsaw:Action="urn:deleteUser"></wsdl:input>
            <wsdl:output message="tns:deleteUserResponse" wsaw:Action="urn:deleteUserResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:deleteUserUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRole">
            <wsdl:input message="tns:deleteRoleRequest" wsaw:Action="urn:deleteRole"></wsdl:input>
            <wsdl:output message="tns:deleteRoleResponse" wsaw:Action="urn:deleteRoleResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:deleteRoleUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="bulkImportUsers">
            <wsdl:input message="tns:bulkImportUsersRequest" wsaw:Action="urn:bulkImportUsers"></wsdl:input>
            <wsdl:output message="tns:bulkImportUsersResponse" wsaw:Action="urn:bulkImportUsersResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:bulkImportUsersUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolePermissions">
            <wsdl:input message="tns:getRolePermissionsRequest" wsaw:Action="urn:getRolePermissions"></wsdl:input>
            <wsdl:output message="tns:getRolePermissionsResponse" wsaw:Action="urn:getRolePermissionsResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:getRolePermissionsUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isSharedRolesEnabled">
            <wsdl:input message="tns:isSharedRolesEnabledRequest" wsaw:Action="urn:isSharedRolesEnabled"></wsdl:input>
            <wsdl:output message="tns:isSharedRolesEnabledResponse" wsaw:Action="urn:isSharedRolesEnabledResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:isSharedRolesEnabledUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRoleName">
            <wsdl:input message="tns:updateRoleNameRequest" wsaw:Action="urn:updateRoleName"></wsdl:input>
            <wsdl:output message="tns:updateRoleNameResponse" wsaw:Action="urn:updateRoleNameResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:updateRoleNameUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUsersOfRole">
            <wsdl:input message="tns:getUsersOfRoleRequest" wsaw:Action="urn:getUsersOfRole"></wsdl:input>
            <wsdl:output message="tns:getUsersOfRoleResponse" wsaw:Action="urn:getUsersOfRoleResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:getUsersOfRoleUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserRealmInfo">
            <wsdl:input message="tns:getUserRealmInfoRequest" wsaw:Action="urn:getUserRealmInfo"></wsdl:input>
            <wsdl:output message="tns:getUserRealmInfoResponse" wsaw:Action="urn:getUserRealmInfoResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:getUserRealmInfoUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setRoleUIPermission">
            <wsdl:input message="tns:setRoleUIPermissionRequest" wsaw:Action="urn:setRoleUIPermission"></wsdl:input>
            <wsdl:output message="tns:setRoleUIPermissionResponse" wsaw:Action="urn:setRoleUIPermissionResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:setRoleUIPermissionUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePasswordByUser">
            <wsdl:input message="tns:changePasswordByUserRequest" wsaw:Action="urn:changePasswordByUser"></wsdl:input>
            <wsdl:output message="tns:changePasswordByUserResponse" wsaw:Action="urn:changePasswordByUserResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:changePasswordByUserUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAllUsers">
            <wsdl:input message="tns:listAllUsersRequest" wsaw:Action="urn:listAllUsers"></wsdl:input>
            <wsdl:output message="tns:listAllUsersResponse" wsaw:Action="urn:listAllUsersResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:listAllUsersUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRemoveRolesOfUser">
            <wsdl:input message="tns:addRemoveRolesOfUserRequest" wsaw:Action="urn:addRemoveRolesOfUser"></wsdl:input>
            <wsdl:output message="tns:addRemoveRolesOfUserResponse" wsaw:Action="urn:addRemoveRolesOfUserResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:addRemoveRolesOfUserUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <wsdl:input message="tns:addUserRequest" wsaw:Action="urn:addUser"></wsdl:input>
            <wsdl:output message="tns:addUserResponse" wsaw:Action="urn:addUserResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:addUserUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRole">
            <wsdl:input message="tns:addRoleRequest" wsaw:Action="urn:addRole"></wsdl:input>
            <wsdl:output message="tns:addRoleResponse" wsaw:Action="urn:addRoleResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:addRoleUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllUIPermissions">
            <wsdl:input message="tns:getAllUIPermissionsRequest" wsaw:Action="urn:getAllUIPermissions"></wsdl:input>
            <wsdl:output message="tns:getAllUIPermissionsResponse" wsaw:Action="urn:getAllUIPermissionsResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:getAllUIPermissionsUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfCurrentUser">
            <wsdl:input message="tns:getRolesOfCurrentUserRequest" wsaw:Action="urn:getRolesOfCurrentUser"></wsdl:input>
            <wsdl:output message="tns:getRolesOfCurrentUserResponse" wsaw:Action="urn:getRolesOfCurrentUserResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:getRolesOfCurrentUserUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listUserByClaim">
            <wsdl:input message="tns:listUserByClaimRequest" wsaw:Action="urn:listUserByClaim"></wsdl:input>
            <wsdl:output message="tns:listUserByClaimResponse" wsaw:Action="urn:listUserByClaimResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:listUserByClaimUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="hasMultipleUserStores">
            <wsdl:input message="tns:hasMultipleUserStoresRequest" wsaw:Action="urn:hasMultipleUserStores"></wsdl:input>
            <wsdl:output message="tns:hasMultipleUserStoresResponse" wsaw:Action="urn:hasMultipleUserStoresResponse"></wsdl:output>
            <wsdl:fault message="tns:UserAdminUserAdminException" name="UserAdminUserAdminException" wsaw:Action="urn:hasMultipleUserStoresUserAdminUserAdminException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserAdminSoap11Binding" type="tns:UserAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="addInternalRole">
            <soap:operation soapAction="urn:addInternalRole" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <soap:operation soapAction="urn:changePassword" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRolesNames">
            <soap:operation soapAction="urn:getAllRolesNames" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRemoveUsersOfRole">
            <soap:operation soapAction="urn:addRemoveUsersOfRole" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateUsersOfRole">
            <soap:operation soapAction="urn:updateUsersOfRole" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSharedRoleNames">
            <soap:operation soapAction="urn:getAllSharedRoleNames" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfUser">
            <soap:operation soapAction="urn:getRolesOfUser" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRole">
            <soap:operation soapAction="urn:deleteRole" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listUsers">
            <soap:operation soapAction="urn:listUsers" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <soap:operation soapAction="urn:deleteUser" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRolesOfUser">
            <soap:operation soapAction="urn:updateRolesOfUser" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolePermissions">
            <soap:operation soapAction="urn:getRolePermissions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="bulkImportUsers">
            <soap:operation soapAction="urn:bulkImportUsers" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRoleName">
            <soap:operation soapAction="urn:updateRoleName" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isSharedRolesEnabled">
            <soap:operation soapAction="urn:isSharedRolesEnabled" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserRealmInfo">
            <soap:operation soapAction="urn:getUserRealmInfo" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUsersOfRole">
            <soap:operation soapAction="urn:getUsersOfRole" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePasswordByUser">
            <soap:operation soapAction="urn:changePasswordByUser" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setRoleUIPermission">
            <soap:operation soapAction="urn:setRoleUIPermission" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAllUsers">
            <soap:operation soapAction="urn:listAllUsers" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRemoveRolesOfUser">
            <soap:operation soapAction="urn:addRemoveRolesOfUser" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <soap:operation soapAction="urn:addUser" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRole">
            <soap:operation soapAction="urn:addRole" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfCurrentUser">
            <soap:operation soapAction="urn:getRolesOfCurrentUser" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllUIPermissions">
            <soap:operation soapAction="urn:getAllUIPermissions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="hasMultipleUserStores">
            <soap:operation soapAction="urn:hasMultipleUserStores" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listUserByClaim">
            <soap:operation soapAction="urn:listUserByClaim" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap:fault use="literal" name="UserAdminUserAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserAdminSoap12Binding" type="tns:UserAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="addInternalRole">
            <soap12:operation soapAction="urn:addInternalRole" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <soap12:operation soapAction="urn:changePassword" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRolesNames">
            <soap12:operation soapAction="urn:getAllRolesNames" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRemoveUsersOfRole">
            <soap12:operation soapAction="urn:addRemoveUsersOfRole" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateUsersOfRole">
            <soap12:operation soapAction="urn:updateUsersOfRole" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllSharedRoleNames">
            <soap12:operation soapAction="urn:getAllSharedRoleNames" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfUser">
            <soap12:operation soapAction="urn:getRolesOfUser" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRole">
            <soap12:operation soapAction="urn:deleteRole" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listUsers">
            <soap12:operation soapAction="urn:listUsers" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <soap12:operation soapAction="urn:deleteUser" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRolesOfUser">
            <soap12:operation soapAction="urn:updateRolesOfUser" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolePermissions">
            <soap12:operation soapAction="urn:getRolePermissions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="bulkImportUsers">
            <soap12:operation soapAction="urn:bulkImportUsers" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRoleName">
            <soap12:operation soapAction="urn:updateRoleName" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isSharedRolesEnabled">
            <soap12:operation soapAction="urn:isSharedRolesEnabled" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserRealmInfo">
            <soap12:operation soapAction="urn:getUserRealmInfo" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUsersOfRole">
            <soap12:operation soapAction="urn:getUsersOfRole" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changePasswordByUser">
            <soap12:operation soapAction="urn:changePasswordByUser" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setRoleUIPermission">
            <soap12:operation soapAction="urn:setRoleUIPermission" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAllUsers">
            <soap12:operation soapAction="urn:listAllUsers" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRemoveRolesOfUser">
            <soap12:operation soapAction="urn:addRemoveRolesOfUser" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <soap12:operation soapAction="urn:addUser" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRole">
            <soap12:operation soapAction="urn:addRole" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfCurrentUser">
            <soap12:operation soapAction="urn:getRolesOfCurrentUser" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllUIPermissions">
            <soap12:operation soapAction="urn:getAllUIPermissions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="hasMultipleUserStores">
            <soap12:operation soapAction="urn:hasMultipleUserStores" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listUserByClaim">
            <soap12:operation soapAction="urn:listUserByClaim" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserAdminUserAdminException">
                <soap12:fault use="literal" name="UserAdminUserAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserAdminHttpBinding" type="tns:UserAdminPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="addInternalRole">
            <http:operation location="addInternalRole"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <http:operation location="changePassword"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllRolesNames">
            <http:operation location="getAllRolesNames"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRemoveUsersOfRole">
            <http:operation location="addRemoveUsersOfRole"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateUsersOfRole">
            <http:operation location="updateUsersOfRole"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllSharedRoleNames">
            <http:operation location="getAllSharedRoleNames"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfUser">
            <http:operation location="getRolesOfUser"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteRole">
            <http:operation location="deleteRole"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="listUsers">
            <http:operation location="listUsers"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <http:operation location="deleteUser"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateRolesOfUser">
            <http:operation location="updateRolesOfUser"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getRolePermissions">
            <http:operation location="getRolePermissions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bulkImportUsers">
            <http:operation location="bulkImportUsers"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateRoleName">
            <http:operation location="updateRoleName"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isSharedRolesEnabled">
            <http:operation location="isSharedRolesEnabled"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserRealmInfo">
            <http:operation location="getUserRealmInfo"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUsersOfRole">
            <http:operation location="getUsersOfRole"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePasswordByUser">
            <http:operation location="changePasswordByUser"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setRoleUIPermission">
            <http:operation location="setRoleUIPermission"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="listAllUsers">
            <http:operation location="listAllUsers"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRemoveRolesOfUser">
            <http:operation location="addRemoveRolesOfUser"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <http:operation location="addUser"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRole">
            <http:operation location="addRole"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfCurrentUser">
            <http:operation location="getRolesOfCurrentUser"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllUIPermissions">
            <http:operation location="getAllUIPermissions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hasMultipleUserStores">
            <http:operation location="hasMultipleUserStores"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listUserByClaim">
            <http:operation location="listUserByClaim"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserAdmin">
        <wsdl:port name="UserAdminHttpsSoap11Endpoint" binding="tns:UserAdminSoap11Binding">
            <soap:address location="https://localhost:9443/services/UserAdmin.UserAdminHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="UserAdminHttpsSoap12Endpoint" binding="tns:UserAdminSoap12Binding">
            <soap12:address location="https://localhost:9443/services/UserAdmin.UserAdminHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="UserAdminHttpsEndpoint" binding="tns:UserAdminHttpBinding">
            <http:address location="https://localhost:9443/services/UserAdmin.UserAdminHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>